<ul class="card-text font-weight-light list-group list-group-flush">
  {% bibliography -f papers -q @*[selected=true]* %}
  {% for entry in bibliography %}
    <li class="list-group-item">
      <div class="row align-items-center">

        <!-- IMAGE COLUMN IF PRESENT -->
        {% if entry.img or entry.image %}
          <div class="col-xs-2 col-sm-2 col-md-2 text-center">
            <img
              src="{{ entry.img | default: entry.image | prepend: site.baseurl }}"
              alt="thumbnail for {{ entry.title }}"
              style="max-width: 100px; border-radius: 6px;"
            >
          </div>
          <div class="col-xs-10 col-sm-10 col-md-10 mt-2 mt-md-0">
        {% else %}
          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-md-0">
        {% endif %}

          <!-- BIBLIOGRAPHY CONTENT -->
          {{ reference }}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
